<!DOCTYPE html>
<html lang="vi">
<head>
        <meta charset="UTF-8"/>
        <title>Administration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
    
<div class="container-fluid">
    <!------header------------->
    <div class="header col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div id="trangchu" class="col-md-11 col-sm-11">
                <a href="#"><i class="fas fa-home"></i> Trở lại trang mua sắm</a>
            </div>
            <div class="dangxuat col-md-1 col-sm-1 text-right" id="dang-xuat">
                Đăng xuất
            </div>
        </div>
    </div>
    <div class="row">
        <!------------nav----------------->

        <div class="nav col-md-3 col-sm-12 col-12 col-xs-12">
            <ul>
                <li><a href="../index.html"><i class="fa fa-chart-line"></i> Dashboard</a></li>
                <li><a href="TaiKhoan.html"><i class="fa fa-users"></i> Tài khoản</a></li>
                <li><a href="LoaiSanPham.html"><i class="fa fa-clipboard-list"></i> Loại sản phẩm</a></li>
                <li><a href="HangSanPham.html"><i class="fa fa-building"></i> Hãng sản phẩm</a></li>
                <li><a href="SanPham.html"><i class="fas fa-gift"></i> Sản phẩm</a></li>
                <li><a href="DonHang.html"><i class="fa fa-cart-arrow-down"></i> Đơn hàng</a></li>
            </ul>
            <div class="dropdown themmoi">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tài khoản mới</button>
                <form id="form-them-tai-khoan" method="post" accept-charset="utf-8" class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <div class="form-group">
                        <span>Tên hiển thị </span>
                        <input type="text" name="tenHienThi" class="form-control" id="tenHienThi" placeholder="Tên tên hiển thị">
                    </div>

                    <div class="form-group">
                        <span>Địa chỉ </span>
                        <input type="text" name="diaChi" class="form-control" id="diaChi" placeholder="Địa chỉ">
                    </div>
                    <div class="form-group">
                        <span>Số điện thoại </span>
                        <input type="text" name="dienThoai" class="form-control" id="soDienThoai" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <span>Email </span>
                        <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <span>Tên đăng nhập </span>
                        <input type="text" name="tenDangNhap" class="form-control" id="tenDangNhap" placeholder="Tên đăng nhập">
                    </div>

                    <div class="form-group">
                        <span>Mật khẩu </span>
                        <input type="password" name="matKhau" class="form-control" id="matKhau" placeholder="Mật khẩu">
                    </div>

                    <div class="form-group">
                        <span>Loại tài khoản </span>
                        <select class="custom-select" name="loaiTaiKhoan">
                            <option value="1">Thường</option>
                            <option value="0">Admin</option>
                        </select>
                    </div>
                    <div class="alert alert-danger invisible mt-2 mb-0"></div>
                    <button type="submit" id="themTaiKhoan" class="btn btn-success">Thêm</button>
                </form>
            </div>
        </div>

        <!-----------------content--------------------->

        <div class="content col-md-9 col-sm-12 col-12 col-xs-12">
            <h1>Danh sách tài khoản</h1>
            <p>
            <form method="POST" id="formSearchPost" onsubmit="return false;">
                <div class="input-group">
                    <input type="text" class="form-control" id="kw_search_post" placeholder="Nhập tên đăng nhập...">
                    <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </span>
                </div>
            </form>
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Tên đăng nhập</th>
                        <th>Tên hiển thị</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Loại tài khoản</th>
                        <th>Chức năng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <form method="post" name="main-form" id="main-form" enctype="multipart/form-data" accept-charset="utf-8">
                                <input type="hidden" name="maTaiKhoanDel" id="maTaiKhoanDel" value="'.$loadTK->MaTaiKhoan.'">
                                <button id="Xoa" type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                        <td>1</td>
                        <td>toilaadmin</td>
                        <td>Nguyễn Văn A</td>
                        <td>0123456789</td>
                        <td>nguyenvana@gmail.com</td>
                        <td>Hồ Chí Minh</td>
                        <td>Thường</td>
                        <td>
                            <div class="dropdown chinhsua">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chỉnh sửa</button>
                                <form id="form-chinh-sua-tai-khoan" method="post" name="main-form" id="main-form" enctype="multipart/form-data" accept-charset="utf-8" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="form-group">
                                        <input type="hidden" name="maTaiKhoanEdit" id="maTaiKhoanEdit" value="1">
                                    </div>
                                    <div class="form-group">
                                        <span>Tên đăng nhập</span>
                                        <input type="text" name="tenDangNhapEdit" class="form-control" id="tenDangNhapEdit" value="toilaadmin">
                                    </div>
                                    <div class="form-group">
                                        <span>Mật khẩu</span>
                                        <input type="password" name="matKhauEdit" class="form-control" id="matKhauEdit" value="123456789">
                                    </div>
                                    <div class="form-group">
                                        <span>Tên hiển thị</span>
                                        <input type="text" name="tenHienThiEdit" class="form-control" id="tenHienThiEdit" value="Nguyễn Văn A">
                                    </div>
                                    <div class="form-group">
                                        <span>Số điện thoại</span>
                                        <input type="text" name="soDienThoaiEdit" class="form-control" id="soDienThoaiEdit" value="0123456789">
                                    </div>
                                    <div class="form-group">
                                        <span>Email</span>
                                        <input type="text" name="emaiEdit" class="form-control" id="emailEdit" value="nguyenvana@gmail.com">
                                    </div>

                                    <div class="form-group">
                                        <span>Địa chỉ</span>
                                        <input type="text" name="diaChiEdit" class="form-control" id="diaChiEdit" value="Hồ Chí Minh">
                                    </div>
                                    <div class="form-group">
                                        <select class="custom-select" name="loaiTaiKhoanEdit">
                                            <option value="1">Thường</option>
                                            <option value="0">Admin</option>
                                        </select>
                                    </div>
                                    <button type="submit" id="chinhSua" class="btn btn-success">Chỉnh sửa</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer role="contentinfo">
        <p>Nhóm 12: 1660063 - 1660127 - 1660151 caycanhstore &copy; 2018</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="../js/admin.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="../js/chart.js" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>